<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.collection_select :status_id, Status.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>

  <div>
    <%= form.label :labels %>
    <%= collection_check_boxes(:task, :label_ids, Label.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :groups %>
    <%= collection_check_boxes(:task, :group_ids, Group.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
      <% if form.object.image? %>
      <%= image_tag form.object.image.thumb.url %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
